
.cta-container {
    background-image: url("Niagara\ Falls\ State\ Park_New\ York_20150710GH_0122_Web72DPI.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    display: flex ;
flex-direction: column ;
    align-items: center ;
    justify-content: center ;
    height: 100vh ;
    padding: 20px ;
}
h2.cta-text{
    font-weight: bold;
    font-size: 24px;
    margin: 0;
}
.cta-button {
    display: inline-block ;
    padding: 12px 24px ;
    background-color: #007BFF ;
    color: #FFFFFF ;
    text-decoration: none ;
    border-radius: 4px ;
    font-size: 16px ;
    margin-top: 20px ;
}